.red-text {
    color: red;
}

.dark-background {
    background-color:black;
    color:white;
}

#articleParent {
    display:flex;
    width:100vw;
    
}

#articleParent > article {
    flex-direction: row;
    width:50vw;
}

#art1 {
    border: 2px solid blue;
}

#art2 {
    border: 2px solid red;
}